.profile__edit-avatar {
    border-radius: 180px;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    padding: 0;
    border-style: none;
    background-image: url('../../../images/edit-avatar1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    background-color: black;
}