.form__error {
    visibility: hidden;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #FF0000;
    width: 358px;
    margin: 5px auto 0;
    min-height: 2em;
    padding: 0;
}

@media screen and (max-width: 700px) {
    .form__error {
        width: 238px;
        margin: 5px auto 0;
        min-height: auto;
    }
}