.popup {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    transition-property: opacity, visibility;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    visibility: hidden;
    opacity: 0;
}